@model Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Personel Listesi - Admin Kayıt</title>
    <link href="~/Content/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 mt-5">
            <div class="jumbotron">
                <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Personel Listesi</h1>
                    <h1 class="h3 mb-3 font-weight-normal">Admin Kayıt</h1>

                    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control mt-3 mb-3", placeholder = "Ad" })
                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control mt-3 mb-3", placeholder = "Soyad" })
                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(x => x.MailAddress, new { @class = "form-control mt-3 mb-3", placeholder = "E-Posta" })
                    @Html.ValidationMessageFor(x => x.MailAddress, "", new { @class = "text-danger" })

                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control mt-3 mb-3", placeholder = "Şifre", type = "password" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Kayıt Ol</button>

                    <p class="mt-5 mb-3 text-muted">
                        &copy; @DateTime.Now.Year Tüm hakları saklıdır,
                        <a href="https://tr.linkedin.com/in/trkaydn">Tarık Aydın</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</body>
</html>
