@model CreateExamVM
@{
    ViewData["Title"] = "Sınav Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">Sınav Oluştur</h1>
<br />
@using (Html.BeginForm("Index", "CreateExam", FormMethod.Post))
{
    <!--Removed for Html.Raw()-->
    @*@Html.DropDownListFor(x => x.SelectedTitle, Model.TitleValues, new { @class = "form-control", placeholder = "Yazı", id = "selectTitle" })*@

    <div class="jumbotron">
        <select class="form-control" id="selectTitle" name="TitleUrl" required>
            <option value="">Bir yazı seçiniz..</option>
            @foreach (var item in Model.TitleValues)
            {
                <option value="@item.Value">@Html.Raw(item.Text)</option>
            }
        </select>
        <div style="display:none;" id="divfortext"></div>

        @Html.HiddenFor(x => x.Title, new { @id = "hiddenTitle" })
        <br />
        @Html.TextAreaFor(x => x.Text, 10, 3, new { @class = "form-control", placeholder = "Metin İçeriği", id = "txtText", required = "required" })
        <br />
    </div>
    @for (int i = 1; i <= 4; i++)
    {
        <div class="jumbotron">
            <h4 class="text-center mb-3">Soru @i</h4>
            <input type="text" class="form-control mb-3" name="Questions" required placeholder="Soru @i" />
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control mb-1" name="Answers" required placeholder="A)" />
                </div>
                <div class="col">

                    <input type="text" class="form-control mb-1" name="Answers" required placeholder="B)" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control mb-1" name="Answers" required placeholder="C)" />
                </div>
                <div class="col">

                    <input type="text" class="form-control mb-1" name="Answers" required placeholder="D)" />
                </div>
            </div>
            <select class="form-control mt-1" name="CorrectAnswers" required>
                <option value="">Doğru Cevap Seç</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <hr class="mt-5" />
    }

    <br />
    <button type="submit" class="btn btn-primary submit mb-4 form-control">Sınav Oluştur</button>
}
<script src="~/lib/jquery/jquery.min.js"></script>

<script>
    $('#selectTitle').on('change', function () {
        var textUrl = $(this).val();
        var textTitle = $(this).find('option:selected').text();
        if (textUrl != "") {
            $.ajax({
                type: 'Get',
                url: '/CreateExam/GetTextFromWired/',
                data: { "url": textUrl },
                dataType: 'json',
                success: function (data) {

                    if (data[0] != "error") {
                        //$('#txtText').val(data); html is displaying :(
                        $('#divfortext').html(data);
                        $('#txtText').val($('#divfortext').text());

                        //set the title to hidden input
                        $('#hiddenTitle').val(textTitle);
                    }
                    else {
                        $("#selectTitle option").prop("selected", false);
                        alert(data[1]);
                    }
                }
            });
        }
        else {
            $('#txtText').val("");
        }
    });
</script>



